body{
    background-color:#ccc;
    font-family: 'Roboto', sans-serif;
}


.form-log, .form-reg{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    align-items: center;
    justify-content: center;
    height:100vh;
}



